.expense-item{
    border: 1px solid black;
    margin-bottom: 10px;
}

.expense-item__description{
    color: green;
}

.expense-item__price{
    text-decoration: bold;
    color: black;
    font-weight: 900;
}